{% extends 'common/layout.html' %}

{% block body%}
    <div class="jumbotron text-center">
        <h1>Welcome To The Site</h1>
        <p class="lead">This application is built for testing new technologies such as angular js, react js, sqlAlchamy ORM etc.</p>
    </div>
{% endblock %}


<!--+ admin-->
    <!-- - dashboard.html-->
    <!-- - profile.html # multiple admins-->
<!--+ main-->
    <!-- - home.html-->
    <!-- - contact.html-->
    <!-- - about.html-->
<!--+ user-->
    <!-- - signin.html-->
    <!-- - signup.html-->
    <!-- - dashboard.html-->
    <!-- - profile.html-->
<!--+ common-->
    <!-- - navbar.html-->
    <!-- - footer.html-->
    <!-- - layout.html-->


<!-- - dynamodb/rds-->
<!-- - ses-->
<!-- - exotel for sms-->
<!-- - how will you develop new feature ?? again-->
<!-- - bit bucket-->
<!-- - monitoring tool-->
<!-- - any website for sample-->
<!-- - vishal, mukesh-->
